*.swp
.DS_Store
.cache
tmp/

# intellij files
.idea
.idea_modules/
*.ipr
*.iws
*.iml

# vscode metails files
.vscode/
.bloop/
.metals/



# gradle build
.gradle
.out/
build
dependencies.lock
**/dependencies.lock

# rat library install location
lib/

# web site build
site/

__pycache__/
*.py[cod]
.eggs/
.tox/
env/
venv/
*.egg-info/
test-reports
build/
dist/
sdist/
.coverage
coverage.xml
.pytest_cache/
.python-version

# vscode/eclipse files
.classpath
.project
.settings
bin/

# Hive/metastore files
metastore_db/

# Spark/metastore files
spark-warehouse/
derby.log

# Python stuff
python/.mypy_cache/

*.patch
**/*.drawio.bkp

log/

# sbt
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/
.history
.cache
.lib/
