#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     https://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
#

name: "Build and Test"
on: [push]

jobs:
  run-tests:
    runs-on: ubuntu-22.04
    strategy:
      fail-fast: false
      matrix:
        java: [ 8, 17 ]
        scala: [ '2.12', '2.13' ]
        spark: [ '3.3', '3.4', '3.5', '4.0' ]
        exclude:
          # Spark 4.0 only supports Scala 2.13
          - spark: '4.0'
            scala: '2.12'
          # Spark 4.0 requires Java 17+
          - spark: '4.0'
            java: 8
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-java@v4
        with:
          distribution: zulu
          java-version: ${{ matrix.java }}
          cache: gradle
      - run: >-
          ./gradlew clean test --no-daemon --refresh-dependencies
          -Dscala_binary_version=${{ matrix.scala }}
          -Dspark_binary_version=${{ matrix.spark }}
          -PmavenCentralMirror=https://maven-central.storage-download.googleapis.com/maven2/
      - name: Upload logs
        if: failure()
        uses: actions/upload-artifact@v4
        with:
          name: log-java-${{ matrix.java }}-spark-${{ matrix.spark }}-scala-${{ matrix.scala }}
          path: |
            **/build/unit-tests.log
            log/**

  run-tests-with-specific-clickhouse:
    runs-on: ubuntu-22.04
    strategy:
      fail-fast: false
      matrix:
        clickhouse: [ 25.3, 25.6, 25.7, latest ]
        java: [ 17 ]
    env:
      CLICKHOUSE_IMAGE: clickhouse/clickhouse-server:${{ matrix.clickhouse }}
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-java@v4
        with:
          distribution: zulu
          java-version: ${{ matrix.java }}
          cache: gradle
      - run: >-
          ./gradlew clean test --no-daemon --refresh-dependencies
          -PmavenCentralMirror=https://maven-central.storage-download.googleapis.com/maven2/
      - name: Upload logs
        if: failure()
        uses: actions/upload-artifact@v4
        with:
          name: log-clickhouse-${{ matrix.clickhouse }}-java-${{ matrix.java }}
          path: |
            **/build/unit-tests.log
            log/**
