#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     https://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
#

name: "Publish Release"

on:
  workflow_dispatch:
    inputs:
      version:
        description: "Release version"
        required: true
  push:
    tags:
      - 'v*'

jobs:
  publish-release:
    if: ${{ startsWith(github.repository, 'clickhouse/') }}
    runs-on: ubuntu-22.04
    strategy:
      fail-fast: false
      matrix:
        scala: [ 2.12, 2.13 ]
        spark: [ 3.3, 3.4, 3.5, 4.0 ]
        exclude:
          # Spark 4.0 only supports Scala 2.13
          - spark: '4.0'
            scala: '2.12'
    steps:
      - uses: actions/checkout@v4
        with:
          ref: ${{ matrix.branch }}
      - uses: actions/setup-java@v4
        with:
          distribution: zulu
          java-version: 17
          cache: gradle
      - name: Import GPG key
        uses: crazy-max/ghaction-import-gpg@v5
        with:
          gpg_private_key: ${{ secrets.GPG_PRIVATE_KEY }}
      - name: Publish Release
        env:
          NMCP_USERNAME: ${{ secrets.NMCP_USERNAME }}
          NMCP_PASSWORD: ${{ secrets.NMCP_PASSWORD }}
          SIGNING_PASSWORD: ${{ secrets.SIGNING_PASSWORD }}
          SIGNING_KEY: ${{ secrets.SIGNING_KEY }}
        run: >-
          ./gradlew clean publishAllPublicationsToCentralPortal 
          -Dscala_binary_version=${{ matrix.scala }}
          -Dspark_binary_version=${{ matrix.spark }}
          -Prelease

  create-github-release:
    if: ${{ startsWith(github.repository, 'clickhouse/') }}
    runs-on: ubuntu-22.04
    needs: publish-release
    steps:
      - name: Create Draft Release
        uses: softprops/action-gh-release@v2
        with:
          draft: true
          token: ${{ secrets.GITHUB_TOKEN }}
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
